server:
  port: 8085

eureka:
  instance:
    prefer-ip-address: true
  client:
    serviceUrl:
      defaultZone: http://registry-service:8761/eureka/


  config:
    uri: http://config-server:8888




spring:
  rabbitmq:
    host: rabbit
    port: 5672
    username: guest
    password: guest


  mail:
    host: smtp.gmail.com
    username: ${EMAIL}
    password: ${PASSWORD}
    port: 587
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true